*{
	margin: 0;
	padding-top: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
}

a {
	text-decoration: none;
}

.wrapper {
	padding-left: 50px;
	padding-right: 50px;
	max-width: 1280px;
	margin: auto;
}

.button {
	font-weight: bold;
	font-size: 18px;
	height: 56px;
	line-height: 56px;
	color: #458FF6;
	border: 1.4px solid #458FF6;
	box-sizing: border-box;
	border-radius: 55px;	
	display: inline-block;	
	padding-left: 36px;
	padding-right: 36px;
}

.button_img {
	margin-left: 16px;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 48px; 
	margin-bottom: 96px;
}

.heading {
	font-weight: bold;
	font-size: 36px;
	line-height: 45px;
	text-align: center;
	color: #000000;
}

.heading_left { 
	text-align: left;
	/*line-height: 56px;*/
}

.content_text {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #7D7987;
	padding-top: 58px;
	padding-bottom: 36px;
}

.content_img {
	width: 580px;
}

.menu_link {
	font-size: 18px;
	line-height: 23px;
	color: #1F1534;
	opacity: 0.5;
	padding-right: 16px;
	padding-left: 16px;
}

.menu_link_active {
	font-weight: bold;
	opacity: 1;
} 

.top {
	display: flex;	
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 96px;
}

.top-content {
	width: 480px;
}

.top_img {
	width: 575px;
}

.top-content-heading {
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
	color: #000000;	
}

.top-content-text {
	font-weight: 300;
	font-size: 21px;
	line-height: 32px;
	color: #7D7987;
	margin-top: 24px;
	margin-bottom: 32px;
}

.services {
	/*margin-top: 96px;*/
	max-width: 1180px;
	margin: auto;

}

.services_content {
	padding-top: 75px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.services_item {
	width: 379px;
	background: #FFFFFF;
	box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
	border-radius: 20px;
	padding: 54px 42px 46px;
	margin-bottom: 37px;
}

.services_item_title {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	padding-top: 24px; 
	padding-bottom: 24px;
}

.services_item_text {
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: #7D7987;
}

.info {
	margin-top: 133px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.info_content {
	width: 480px;
}

.footer {
	margin-top: 112px;
	height: 142px;
	background: linear-gradient(180.38deg, #67C3F3 -8.57%, #5A98F2 82.96%);
	font-size: 19px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1024px) {
	.top {
		justify-content: center;
	}

	.info {
		justify-content: center;

	}

	.info:last-child {
		flex-wrap: wrap-reverse;
	}
}

@media (max-width: 767px) {
	.header {
		justify-content: center;
	}

	.menu {
		margin-top: 16px;
	}

	.top-content-heading {
		font-size: 32px;
		padding-top: 16px;
		text-align: center;
	}

	.top_img {
		width: 100%;
	}

	.content_img {
		width: 100%;
	}

}